@{
    ViewBag.Title = "AboutContactUs";
}

<div class="text-center">
    <h1>Contact Pen.Guin</h1>
    <h4>All information about our team</h4>
</div>
<br />
<br />
<div class="container row h-center">
    <div class="pos-center stmenu cell-12 cell-md-10 h-center">
        <ul class="h-menu">
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Carrers", "AboutCarrers", "Home")</li>

            <li>@Html.ActionLink("Press", "AboutPress", "Home")</li>
            <li>@Html.ActionLink("ContactUs", "AboutContactUs", "Home")</li>
        </ul>
    </div>
</div>
<br />
<h2 class="text-center">Our offices</h2>
<br />
<div class="row container h-center text-center">

    <div class="cell-10 cell-md-4">
        <div class="card image-header stbordercards">
            <div class="card-header fg-white"
                 style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfPWzIUamKMPlQRn1MIMBq8_TfiFSU7A8AErlxokdXrqLS6pSOVQ)">
                <a href="//www.google.com/maps/place/Ukraine+Rivne+Komp'yuterna+Akademiya+Shah">Click</a>
            </div>
            <div class="card-content p-2" style="height:140px;">
                <p class="fg-gray">Posted on March 03, 2019</p>
                Our offices in Ukraine, Rivne.
            </div>
            <div class="card-footer">
                <button class="button secondary">Read more information</button>
            </div>
        </div>
    </div>

    <div class="cell-10 cell-md-4">
        <div class="card image-header stbordercards">
            <div class="card-header fg-white"
                 style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfPWzIUamKMPlQRn1MIMBq8_TfiFSU7A8AErlxokdXrqLS6pSOVQ)">
                <a href="//www.google.com/maps/place/Ukraine+Rivne+Komp'yuterna+Akademiya+Shah">Click</a>
            </div>
            <div class="card-content p-2" style="height:140px;">
                <p class="fg-gray">Posted on March 03, 2019</p>
                Our offices in Ukraine, Lviv.
            </div>
            <div class="card-footer text-center">
                <button class="button secondary">Read more information</button>
            </div>
        </div>
    </div>

    <div class="cell-10 cell-md-4">
        <div class="card image-header stbordercards">
            <div class="card-header fg-white"
                 style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfPWzIUamKMPlQRn1MIMBq8_TfiFSU7A8AErlxokdXrqLS6pSOVQ)">
                <a href="//www.google.com/maps/place/Ukraine+Rivne+Komp'yuterna+Akademiya+Shah">Click</a>
            </div>
            <div class="card-content p-2" style="height:140px;">
                <p class="fg-gray">Posted on March 03, 2019</p>
                Our offices in Ukraine, Kyiv.
            </div>
            <div class="card-footer">
                <button class="button secondary">Read more information</button>
            </div>
        </div>
    </div>
</div>
<br />

<h2 class="text-center">Developers contacts</h2>
<div class="container h-center">
    <div class="text-center">

        <ul data-role="listview" data-view="icons-medium">

            <li class="text-center" data-caption="GitHub our developers">
                <ul>
                    <li style="width: 40%;" data-icon="<span class='mif-github fg-cyan'>"><a href="https://github.com/AnonimVadim">Vadim Boyarchuk</a></li>
                    <li style="width: 40%;" data-icon="<span class='mif-github fg-green'>"><a href="https://github.com/Andriy22">Andriy Alexandruk</a></li>
                </ul>
            </li>

            <li class="text-center" data-caption="E-mail our developers">
                <ul>
                    <li style="width: 40%;" data-icon="<span class='mif-google fg-cyan'>" data-caption="Vadim Boyarchuk">vadimca1.boyarchuc@gmail.com</li>
                    <li style="width: 40%;" data-icon="<span class='mif-google fg-green'>" data-caption="Andriy Alexandruk">istep.andriy@gmail.com</li>
                </ul>
            </li>
        </ul>

    </div>

    </div>