@{
    ViewBag.Title = "AboutPress";
}
<style>

</style>
<div class="text-center">
    <h1>Pen.Guin in the news</h1>
    <h4>All information about Pen.Guin's project </h4>
</div>
<br />
<br />
<div class="container row h-center">
    <div class="pos-center stmenu cell-12 cell-md-10 h-center">
        <ul class="h-menu">
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Carrers", "AboutCarrers", "Home")</li>

            <li>@Html.ActionLink("Press", "AboutPress", "Home")</li>
            <li>@Html.ActionLink("ContactUs", "AboutContactUs", "Home")</li>
        </ul>
    </div>
        <div>
            <div class="card image-header">
                <div class="card-header fg-black"
                     style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/CNBC_logo.svg/1200px-CNBC_logo.svg.png)">

                </div>
                <div class="card-content p-2" style="height:100px;">
                    <p class="fg-gray">Posted on Merch 03, 2019</p>
                    The 20 hottest job skills in 2019 that will get you hired
                </div>
                <div class="card-footer">
                    <button class="button secondary">Read More</button>
                </div>
            </div>
        </div>
        <div>
            <div class="card image-header">
                <div class="card-header fg-black"
                     style=" background-image: url(http://beaumontetiquette.com/wp-content/uploads/2017/05/Fast-company-logo-R.png) ">

                </div>
                <div class="card-content p-2" style="height:100px;">
                    <p class="fg-gray">Posted on Merch 03, 2019</p>
                    All successful project which was created on Pen.Guin.
                </div>
                <div class="card-footer">
                    <button class="button secondary">Read More</button>
                </div>
            </div>
        </div>
        <div>
            <div class="card image-header">
                <div class="card-header fg-black"
                     style=" background-image: url(https://fortunedotcom.files.wordpress.com/2016/10/fortune-logo-2016-840x485.jpg) ">

                </div>
                <div class="card-content p-2" style="height:100px;">
                    <p class="fg-gray">Posted on Merch 03, 2019</p>
                    Fortune about Pen.Guin's staff and their work day.
                </div>
                <div class="card-footer">
                    <button class="button secondary">Read More</button>
                </div>
            </div>
        </div>


</div>