@{
    ViewBag.Title = "Home Page";
}


<style>
    .p-4 {
        padding: 0px !important;
    }

    body {
        padding-top: 0px !important;
    }

    .parallax-container {
        height: 850px;
        width: 100%;
        background-size: cover;
    }
    .left-button, .right-button{
        font-size: 2rem;
        margin: 2rem;
        width: 250px;
        height: 70px;
        padding: 1rem;
    }
    .main-h{
        position: absolute;
        top:3%;
        right: 1%;
        font-size: 4.5rem;
        font-weight: bold;
    }
    
</style>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@4.1.1/dist/simpleParallax.min.js"></script>

<img class="parallax-container" src="~/Content/SiteImages/mainback.jpg" />
<h1 class="main-h">Make the world yourself</h1>
<br />
<br />
<div class="container ">
    <div class="grid">
        <div class="row flex-justify-center main-navigate">
            <div clas="cell-3 ">@Html.ActionLink("Get Job","JobsList","Home",new { @class="button alert outline left-button" }) </div>
            <div clas="cell-3 ">@Html.ActionLink("Create Job", "CreateJobs", "Home", new { @class = "button alert outline right-button" })</div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<script>
    $(document).ready(function() {

        //effects take place in 3000ms
        $('main-h').fadeOut(3000);
        $('main-h').fadeIn(3000);

    })
    var image = document.getElementsByClassName('parallax-container');
    new simpleParallax(image, {

        transition: 'cubic-bezier(0,0,0,1)'
    });
    var image = document.getElementsByClassName('main-navigate');
    new simpleParallax(image, {

        transition: 'cubic-bezier(0,0,0,1)'
    });
</script>








