@{
    ViewBag.Title = "Home Page";
}
<style>
    .div1 {
        background-image: url(http://www.pixelstalk.net/wp-content/uploads/2016/11/Backgrounds-Earth-From-Space.jpg);
        height:500px;
        width:100%;
    
    }
    .brd {
        border: 4px double red; /* Параметры границы */

        padding: 10px; /* Поля вокруг текста */
    }
    .div2{
      margin-left:16%;  
      
    }
    .stbutt {
        text-align: center;
        width: 150px;
    }

    </style>
<div>
    <div class="div1 brd">
        <div class="div2">
            <p><h1>Hire freelancers.</h1></p>
            <p> <h1> Make things</h1></p>
            <p> <h1> happen.</h1></p>
            <p><h3>Grow your business through the top freelancing</h3></p>
            <p><h3> website. Hire talent nearby or worldwide.</h3></p>
            <button class="button alert stbutt">Get Started</button>
        </div>
    </div>
    

</div>  
   



   



  
