@model BLLViews.Models.IndexModel
@{
    /**/

    ViewBag.Title = "Adminka";
}

<div class="container">
 
    @Html.Partial("_Users")

    <div id="Test">
        @Html.Partial("_BanPanel", Model.partialBanModel)

    </div>
    <div id="RolesPartial">
     
    </div>
    @Url.Action()
</div>
