@model BLLViews.Models.IndexModel
@{
    /**/

    ViewBag.Title = "Adminka";
}

<div class="container">
 
    @Html.Partial("_Users")

    <div id="Test">
        @Html.Partial("_BanPanel", Model.partialBanModel)

    </div>
    <div id="RolesPartial">
        @Html.Partial("_RolePanel", Model.partialRolesModel)
    </div>

</div>
